<%# Write your code here! %>
<h1>Welcome!</h1>
<form action="/greet" method="post">
  <h2>Please enter your name in the name field and you will receive a piece of candy</h2>
  <label for="user_name">NAME</label>
  <input type="text" name="name" id="user_name">
  <input type="submit" value="submit">
</form>
